<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/main_page.css">
    <link rel="stylesheet" href="../static/css/mediaqury.css">

</head>

<body>
    {% if messages %}
    <div class="d-flex flex-column  w-100 position-absolute  p-3 z-3 bottom-0 start-0 ">
        {% for message in messages %}
        <div class="toast align-items-center d-block position-sticky" role="alert" aria-live="assertive"
            aria-atomic="true" id="toast">
            <div class="d-flex">
                <div class="toast-body text-black">
                    {{ message }}
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"
                    onclick="handleToast()"></button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <section class="video-heading">
        <div class="video">
            <video autoplay muted loop>
                <source src="../static/Video/Invincible.mp4" type="video/mp4" />
            </video>
        </div>
        <nav class=" about-menu container-xxl">
            <div class="logo elm-regular logo-font">
                <a href="/">Invincible</a>
            </div>
            <div class="menu  karla-regular d-lg-flex d-none">
                <a href="/">HOME</a>
                <a href="/about-us"  class="active-m">ABOUT US</a>
                <a href="/events">EVENTS</a>
                <a href="/contact-us">CONTACT US</a>
                <!-- <a href="">CONTACT US</a> -->
            </div>
            <div class="menu-add">
                <i class="ri-menu-line" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight"></i>
                <!-- <button class="btn btn-primary">Toggle right offcanvas</button> -->

                {% include 'offcanvas.html'  %}
            </div>
        </nav>
        <div class="about-heading ">
            <h2 class="elm-regular">About Us</h2>
            <p class="elm-regular">We Are The Most Popular Travel & Tour Company</p>
        </div>

    </section>
    <main class="about-main ">
        <section class="about container">
            <div class="about-description">
                <div class="desc">
                    <h2 class="elm-regular">Vision</h2>
                    <p class="elm-regular">The vision of a Invincible tours and travels company is to inspire
                        andempowerpeople to explore the world while creating unforgettable memories. It focuses on
                        offeringpersonalized, innovative, and sustainable travel experiences that cater to diverse
                        customer needsand expectations</p>


                </div>

                <div class="desc">
                    <h2 class="elm-regular">Mission</h2>
                    <p class="elm-regular">Our mission is to inspire and enable unforgettable journeys by offering
                        personalized travel experiences that connect people with the beauty and diversity of the world.
                        We are committed to delivering exceptional service, ensuring seamless planning, and fostering
                        sustainable tourism practices that benefit both travelers and the destinations they visit.</p>
                </div>

                <div class="desc">
                    <h2 class="elm-regular">Objectives</h2>
                    <p class="elm-regular">Create well-designed, unique, and engaging tour packages that cater to
                        diverse customer interests such as adventure, luxury, cultural, and eco-tourism. It Focus on
                        providing seamless travel experiences from planning to execution.Offer personalized services and
                        customizable packages to meet individual preferences and needs. It Maintain open communication,
                        transparency, and trust in pricing and services.</p>

                    <p class="elm-regular"> It Provide a variety of packages at competitive price points to cater to
                        different budget segments.It Offer flexible payment options and travel schedules to accommodate
                        customer convenience.It Ensure the safety and well-being of customers by adhering to
                        international travel safety standards.It Provide access to travel insurance, emergency
                        assistance, and on-ground support.</p>

                </div>
            </div>
        </section>
        <section class="about-contact-section ">

            <div class="about-contact">
                <div class="about-contact-color"></div>
                <div class="about-contact-description">
                    <h2 class="elm-regular">Get Closer With Us & Get Special Promo</h2>
                    <p>If You Can Get Our Contact Information,Click The Below Button</p>
                    <a href="/contact-us" class="text-decoration-none">
                    <div class="contact-button text-black">
                           Contact Us
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <section>
        <footer>
            <div class="container-xxl">
                <div class="footer-top flex-column flex-md-row">
                    <div class="footer-contant">
                        <div class="logo elm-regular logo-font">
                            <a href="/" class="font-size">Invincible</a>
                        </div>
                        <div class="intro">
                            <p>"Invincible Tours and Travels offers unforgettable experiences, letting you explore
                                the
                                world
                                in style and comfort. From hidden gems to iconic destinations, we tailor journeys to
                                make
                                every trip memorable."</p>
                            <div class="footer-app-icon">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between links pt-3 w-100">
                        <div
                            class="footer-contant quick-links w-50 d-flex flex-column justify-content-sm-between align-items-md-center ">
                            <div class="text-start ps-md-5">
                                <h5 class="elm-regular text-start">Quick Links</h5>
                                <ul class="text-start">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/events">Events</a></li>
                                    <li><a href="/contact-us">Contact US</a></li>
                                    <li><a href="/faq">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-contant text-end w-50">
                            <h5 class="elm-regular">Contact</h5>
                            <div class="address">
                                <h6 class="elm-regular">Ahmedabad</h6>
                                <address>
                                    101/02,Podium Floor,City Center,<br>
                                    Near Swastik Cross Road,<br>
                                    Navarangpura,<br>
                                    Ahmedabad - 380009
                                </address>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer-bottom">
                <div class="hr-line">
                    <hr>
                </div>
                <div class="bottom-line">
                    <p>Copyright © 2024. All rights reserved to Invincible Tours and Travels</p>
                </div>
            </div>
            </div>
        </footer>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/index.js"></script>
</body>

</html>