<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/main_page.css">
    <link rel="stylesheet" href="../static/css/mediaqury.css">

</head>

<body>
    <section>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/images/Leh Ladakh.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/rajasthan-thar-desert.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/slide-2.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button> -->
        </div>
        <nav class="container-xxl">
            <div class="logo elm-regular logo-font">
                <a href="index.html">Invincible</a>
            </div>
            <div class="menu  karla-regular ">
                <a href="index.html">HOME</a>
                <a href="about.html" class="active-m">ABOUT US</a>
                <a href="">EVENTS</a>
                <a href="">CONTACT US</a>
                <!-- <a href="">CONTACT US</a> -->
            </div>
            <div class="menu-add ">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </section>
    <main class="about-main container">
        <div class="about-heading">
            <div class="heading">
                <h2 class="elm-regular">About Us</h2>
                <p class="elm-regular">We Are The Most Popular Travel & Tour Company</p>
            </div>
        </div>
        <div class="about-description">
            <div class="desc">
                <h2 class="elm-regular">Vision</h2>
                <p class="elm-regular">The vision of a Invincible tours and travels company is to inspire and empower people to explore the world while creating unforgettable memories. It focuses on offering personalized, innovative, and sustainable travel experiences that cater to diverse customer needs and expectations</p>
            </div>

            <div class="desc">
                <h2 class="elm-regular">Mission</h2>
                <p class="elm-regular">Our mission is to inspire and enable unforgettable journeys by offering personalized travel experiences that connect people with the beauty and diversity of the world. We are committed to delivering exceptional service, ensuring seamless planning, and fostering sustainable tourism practices that benefit both travelers and the destinations they visit.</p>
            </div>

            <div class="desc">
                <h2 class="elm-regular">Objectives</h2>
                <p class="elm-regular">Create well-designed, unique, and engaging tour packages that cater to diverse customer interests such as adventure, luxury, cultural, and eco-tourism. It Focus on providing seamless travel experiences from planning to execution.Offer personalized services and customizable packages to meet individual preferences and needs. It Maintain open communication, transparency, and trust in pricing and services.</p>

                <p class="elm-regular"> It Provide a variety of packages at competitive price points to cater to different budget segments.It Offer flexible payment options and travel schedules to accommodate customer convenience.It Ensure the safety and well-being of customers by adhering to international travel safety standards.It Provide access to travel insurance, emergency assistance, and on-ground support.</p>
            
            </div>
        </div>

        <div class=""></div>
    </main>

    <section>
        <footer class="container-xxl">
            <div class="footer-top ">
                <div class="footer-contant">
                    <div class="logo elm-regular logo-font">
                        <a href="index.html" class="font-size">Invincible</a>
                    </div>
                    <div class="intro">
                        <p>"Invincible Tours and Travels offers unforgettable experiences, letting you explore the
                            world
                            in style and comfort. From hidden gems to iconic destinations, we tailor journeys to
                            make
                            every trip memorable."</p>
                        <div class="footer-app-icon">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="footer-contant quick-links">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Tours</a></li>
                        <li><a href="">Contact US</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-contant contact">
                    <h5>Contact</h5>
                    <div class="address">
                        <h6>Ahmedabad</h6>
                        <address>
                            101/02,Podium Floor,City Center,<br>
                            Near Swastik Cross Road,<br>
                            Navarangpura,<br>
                            Ahmedabad - 380009
                        </address>
                    </div>
                </div>



            </div>

            <div class="footer-bottom">
                <div class="hr-line">
                    <hr>
                </div>
                <div class="bottom-line">
                    <p>Copyright © 2024. All rights reserved to Invincible Tours and Travels</p>
                </div>
            </div>
        </footer>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/index.js"></script>
</body>

</html>