@media (max-width : 1200px){
   
    .carousel-item 
    {
        width: 170%;
    } 
   
   
}
@media (max-width : 800px){
    .carousel-item 
    {
        width: 217%;
    }
    .menu
    {
        display: none;
    }
    
    .footer-top
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .footer-contant
    {
        width: 100%;
    }
    .quick-links
    {   margin-top: 20px;
        text-align: center;
        padding-left: 20px;
    }
   
    .contact
    {
        margin-top: 30px;
        padding-left: 20px;
        text-align: center;
    }
    .address
    {
        margin-top: 0px;
    }
    
}
@media (max-width : 600px){
    .carousel-item 
    {
        width: 217%;
    }
    .high-cards
    {
        width: 150%;
       
    }
    .full-card
    {
        display: none;
    }
    
    .half-card .two-card
    {
        gap: 50px;
        width: 100%;
        margin-left: 10px;
       
    }
   
}